* {box-sizing: border-box;}


body {
    width: 100%;
    height: 100vh;
    background: url(assets/freedom.jpg) no-repeat center; /*így kell jelölöni a mappából való előhívást!*/
    background-size: cover;
    margin: 0 auto;
}
    
.text {
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

  
h1 {font-family: 'Open-sans', sans-serif;
    font-size: 1.5rem;
    text-align: justify; 
}
      
h2 {font-family: 'Lora', serif;
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
    text-align: right;
}


.btn {text-align: center;
margin-top: 16rem;
}

/* The base of every button */
.button {
display: inline-block;
width: 4rem;
text-decoration: none;
font-family: "Lora", sans-serif;
text-align: center;
font-size: 70%;
line-height: 1.5rem;
padding: 0.4rem 0.2rem;
border: 2px solid black;
border-radius: 5px;
vertical-align: middle;
background-color: rgba(70,70,70,0.4);
color: rgba(255,255,255,0.8);  
}

.button:hover {background-color: rgba(210,20,10,0.6);
transition: background-color .30s ease-in-out;
}

.button-french {background-color: rgba(200,100,0,0.6);}

@media (min-width: 768px) {
  h1 {font-size: 3rem;
      padding: 0 1rem;}
  h2 {font-size: 1.5rem;
      padding: 0 1rem;}
.btn {margin-top: 25rem;}
.button {width: 8rem;
      font-size: 120%;}
  
} 
@media (min-width: 1440px) {
  .button { padding: 1rem 0.5rem;}
  h1 {padding: 4rem 2rem;}
  h2 {padding: 0 2rem;}
  .btn {margin-top: 18rem;}
}

@media (min-width: 1920px) {
  .btn {margin-top: 18rem;}
}






